/* general style*/
:root{
    --green: #63ab61;
    --white: #fffffe;
    --black: #0b100f;
}

html{
    font-family: Roboto,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

/* body style*/
body{
    background-color: var(--black);
    color: var(--white);
}

header{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    margin: 0 1.5rem;
}

/* navbar style*/
nav{
    display: block;
    
}

nav ul{
    display: flex;
    font-size: 0.875rem;
    list-style: none;
    padding:0;
    align-items: center;
    gap:1em;
}


nav a{
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
}

nav a:hover{
    color:var(--green);
}

#header-split{
    border: 1px solid var(--white);
    height: 2em;
}

.github,.darkmode-toggle{
    width: 25px;
    height: 25px;
    overflow: hidden;
}

.lightmode{
    background-color: var(--white);
    border-radius: 3px;
}

.darkmode{
    
}

.darkmode,.lightmode{
    max-width: 100%;
}
.darkmode:hover,.lightmode.lightmode:hover{
    background-color: var(--green);
}

/* main style*/
b{
    color:var(--green);
}

.banner {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.banner h2{
    font-size: 2rem;
}

.banner p{
    font-size: 1.25rem;
}

.page-title{
    font-size: 2.75rem;
}

#profile-pic{
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}